* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #0d0d0d;
  color: #fff;
}

.container {
  display: flex;
  min-height: 100vh;
}

/* LEFT */
.left {
  width: 40%;
  padding: 80px;
  position: sticky;
  top: 0;
  height: 100vh;
}

.left h1 {
  font-size: 40px;
  margin-bottom: 10px;
}

.left h2 {
  color: #aaa;
  margin-bottom: 20px;
}

.intro {
  color: #ccc;
  margin-bottom: 30px;
}

.links a {
  display: block;
  margin-bottom: 10px;
  color: #888;
  text-decoration: none;
  transition: 0.3s;
}

.links a:hover {
  color: #fff;
}

/* RIGHT */
.right {
  width: 60%;
  padding: 80px;
}

section {
  margin-bottom: 60px;
}

h3 {
  margin-bottom: 15px;
  font-size: 22px;
}

p {
  color: #ccc;
  line-height: 1.6;
}

ul li {
  margin-bottom: 10px;
  color: #aaa;
}

.project a {
  display: block;
  margin-bottom: 10px;
  color: #bbb;
  text-decoration: none;
  transition: 0.3s;
}

.project a:hover {
  color: #fff;
}

/* Responsive */
@media(max-width: 900px) {
  .container {
    flex-direction: column;
  }

  .left, .right {
    width: 100%;
    height: auto;
    position: relative;
  }
}
